body {
    font: normal 62.5%/1.4 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    margin: 0;
    padding: 16px;
    background-color: #fffcf7;
    color: #444;
}

h1 {
    margin: 24px 0;
    text-transform: uppercase;
    font-size: 1.4em;
}
h1:first-of-type {
    margin: 0 0 24px 0;
}

#menu {
    font-size: 1.6em;
    float: left;
    width: 320px;
    margin: 0 32px 0 0;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
    .menu-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #menu a {
        color: #ad8c46;
        text-decoration: none;
        padding: 0 2px;
        background-color: #fff9eb;
        border-radius: 4px;
    }
    #menu a:hover {
        color: #004ea6;
        background-color: #cde5ff;
    }
#wrap {
    font-size: 1.6em;
    float: left;
}